*{
    box-sizing: content-box;
}
body{
    background: url(../images/img6.jpg) ;
    background-size: cover;
    background-attachment: fixed;
 
}
ol{
    font-weight: 400;
    display: flexbox;
}
ul{
   float: left;
   list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    padding: 14px 40px;
    border:5px solid whitesmoke;
    background-color: black;
}
a{
    font-size: 18px;
    text-decoration: none;
}
.button{
    
    color: black;
    padding: 10px 24px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 17px;
}
.button:hover{
    opacity: 5.7;
}
section{
	border-style: solid;
	color: black;
	position: absolute;
	margin-top: 230px;
	margin-right: 300px;
	margin-left: 460px;
	text-align: center;
	padding: 30px;

}
