/* main style for the page */
body, .loyalty{
    font-size: 20px;
}
.logo img{
    float: left;
    width: 120px;
    height: auto;
}
ol{
    font-weight: 400;
}
ul.h{
   float: left;
   list-style-type: none;
}
ul.h li{
    display: inline-block;
}
ul.h li a{
    text-decoration: none;
    padding: 14px 40px;
    border:5px solid whitesmoke;
    background-color: black;

}
h1{
    
    font-size:57px;
    text-align: justify;
    background: rgba(133, 75, 22, 0.89);
}
h2{
    text-decoration: underline;
}
.welcome{
    background: url(../images/sl\ tea.jpg) ;
      
}

.mainimage{
    text-align: center;
}
#A, .a1, .a2{
    text-transform: uppercase;
    line-height: 27px;
    margin: 0px 70px;
    font-size: 17px;
}
#B{
    background-image: url(../images/printrest4.jpg);
}
.a1, .a2{
    text-align: justify;  
}
#start{
    border-style: solid;
    color: black;
    border-radius: 20px;
	position: absolute;
	margin-top: 250px;
	margin-right: 250px;
	margin-left: 507px;
	text-align: center;
    padding: 40px;
    background: url(../images/design4.jpg);

}

#section1, .c1{
    padding: 0px;
    align-items: stretch;
    font-family: cursive;
    font-size: 14px;  
    font-weight: 700;

}
#section1{
    margin-left: 50px;
    margin-right: 50px;
    color:black;
    display: flex;
    flex-direction: column;
   
    
}
#section1 .box1, #section1 .box3, #section1 .box5{
    background:rgba(92, 255, 119, 0.452);
    border-radius: 70px;
}
#section1 .box2, #section1 .box4, #section1 .box6{
    background: rgba(98, 168, 110, 0.452);
    border-radius: 10px;
   
}
div.price img{
  width: 50%;
  height: auto;
}
.teaprocess img{
    border-radius: 150px;
    height:150px;
    min-width: 170px;
    max-width: 240px;
    widows: inherit;
    margin: 0 auto;

}
hr.tt{
    width: 1170px;
}    
hr.dilmah, hr.jones{
    width: 1070px;   
}


div.desc {
  padding: 17px;
  text-align: left;
}
.teaprocess, .price{
  margin: 0 auto;
  max-width: 2000px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 20px;

}

.f1{
    margin: 0;
    padding:10px;
    background-color: #272727;
    text-align: center;
    
}
.social-links, .social-links li, .quick-links, .quick-links li{
    display: flex;
}
.social-links{
    padding: 10px;
    width: 300px;
    height: 30px;
    margin:auto;
}
.quick-links{
    width: 700px;
    height: 57px;
    margin: auto;
}
.social-items, .quick-items{
    list-style: none;
}
.social-items a{
    padding: 5px 5px;
    font-size: 27px;

}

.quick-items a{
    text-decoration: none;
    padding: 10px 27px;
    color: whitesmoke;
}
.f2{
    padding: 7px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(82, 76, 76);
}

 h2, .doublebutton{
   text-align: center;
   
}
.areas{
    margin-left: 540px;
   text-align: left;
   font-size: 18.7px;
   display: flex;
   flex-direction: column;
   line-height: 34px;
}

 .table1, .welcome, .SLM, #start, .buy, #B, .section-d1 form{
    background-size: cover;
 }
.areas, .table1, .welcome, .buy, .SLM, #start{  
    background-attachment: fixed;      
}
#section-a{
    
    line-height: 27px;
    text-align: justify;
    
}
#section-a .p1{
    text-transform: uppercase;
    text-align: center;
}
#section-a .p2, #section-a .p3, #section-a .p4, #section-a .p5{
    display: flex;
    background-color: rgba(205, 134, 63, 0.733);
    text-align: justify;
}
#section-a .p2, #section-a .p3, #section-a .p4, #section-a .p5{
    margin-right: 457px;
    margin-left: 5px;
    
}

.table1{
    table-layout: fixed;
    border: gray;
    border-spacing: 0px;
    width: 5px;
    font-family: cursive;
    background-image: url(../images/design4.jpg);      
}
.table1 th{
    letter-spacing: 2px;
    background:rgba(0, 0, 0, 0.808);
    color: white;
    font-weight: bold;
    padding: 20px;
    
}
.table1 td{
    background-color:rgba(235, 226, 226, 0.301) ;
}
.SLM{
    background-image: url(../images/teaestate2.1.jpg);
   
}
.button1, .button2{ 
    border: black;
    border-radius: 27px;
    text-align: center;
    background-color:rgb(65, 173, 97);
    color: black;
    padding: 50px 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: clibri;
}
#section-b1, #section-b2, #section-b3{
    background: rgba(255, 255, 255, 0.589);
    width: 87%;
    padding: 40px;
    margin: 100px auto;

}
#p1, #p2 {
 text-align: justify;
}

#section-c form{
	margin: 30px 400px;
    align-content: center;
    color: black;
    background-color:  rgba(185, 176, 164, 0.842);
    font-weight: 400;

}
#section-c input{
    align-content: center;
    color: black;
}
#section-c fieldset{
	padding: 12px;

}
#section-c{
    background-image: url(../images/Contact\ Page\ Header_1595113656\ -\ Copyggggggggggggg\ \(2\).jpg);
    background-position: center;    
}

div.summary img{
   display: block;
   width: 70px;
   margin: 10px auto ;
text-align: center;
  }
.summary{
    font-size: 16px;
    width: auto;
    margin-top:0px;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    
  }
.summary .item1, .summary .item2, .summary .item3, .summary .item4, .summary .item5, .summary .item6{
    width: 220px;
    height: 370px;
    margin: 5px;
    background: #fff;
    padding: 30px 70px 20px;
    border: 1px solid rgba(214, 206, 206, 0.295);
   
}
.info li{
    font-size: 12px;
    color:black;
    margin-bottom: 10px;
}
.info p{
     line-height: 20px;
}
.heading{
    font-weight: 600;
}


.section-d1 form{
    background-image: url(../images/form2.jpg);
    color: rgb(10, 10, 10);
    font-size: 20px;
    padding: 10px;
    align-content:flex-end;
    margin-left: 100px;
    margin-top: 0;
}

.cart{
    padding: 4px;
    font-size: 17px;
    background-color: white;
    color: black;
    align-content: center;
    
}
.section-d1{
    box-sizing: border-box;
    float: left;
    width: 70%;
}
.teaimage{
    margin-left: 20px;
    border: 2px solid gray;
}
.loyalty{
    margin-top:0;
    margin-bottom:40px;
    margin-left: 370px;
    padding:10px 30px;
    background-color: white;
    font-weight: bold;
    border: 5px solid black;
}
.d2{
    text-align: center;
}
div.box{
    margin-left: 877px;
    text-align:right;
    width: 60px;
    height: 10px;
}
div.subimg{
    margin-left:870px;
    text-align:right;
    width: 60px;
    height: 70px;
}
@media(max-width:400px){
.mainimage img{
    display: flex;
    align-items: center;
    justify-content: center;
       height: auto;
    width: 100%;
}
#mainNav ul.h li{  
         display:block;
}
#mainNav ul.h li a{
         font-size: 14px;
         padding:2px;
         border:1px solid whitesmoke;
         
}
h1{
    font-size: 37px;
}
.image, div.d2 img, div.subimg img, .table1 img{
    height: auto;
}
.image{
    width: 14%;
}
div.d2 img{
    width: 100%;
}
.loyalty{
    font-size: 14px;
    margin-bottom:10px;
    margin-left: 70px;
    padding:1px;
}

.f1{
    padding:5px 20px;  
}
.social-links{
    padding:2px;
    width: 50px;
    height: 3px;

}
.quick-links{
    width: 250px;
    height: 100px;
    margin-bottom: 0;
    
}
.social-items a{
    padding:1px;
    font-size:2px;
    
}
.quick-items a{

    font-size: 10px;
    
}
.f2{
    padding: 0px;
    font-size: 6px;
}
 .quick-links, .quick-links li{
    display: block;
    line-height: 7px;
    text-align: left;
}
#section1{
margin-left: 5px;
margin-right: 5px;
font-size: 7px;  


}
.teaprocess{
  max-width: 500px;
  display: grid;
  grid-template-columns:repeat(1, 1fr);
  gap: 2px;

}
.areas{
    margin-left: 40px;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   line-height: 17px;
}
div.subimg img{
    width: 50%;
    display: block;
    margin-right:500px;

}
#section-a{
    line-height: 20px;
}
#section-a .p2, #section-a .p3, #section-a .p4, #section-a .p5{
    display: block;
    margin-left:0;
    margin-right: 100px;
}
.table1{
    width: 40%;
}
.table1 img{
    width: 50%;
}
.table1 td li{
    font-size: 7px;

}  
#section-b1, #section-b2, #section-b3{
    width: 100%;
    font-size: 16px;
}
.table1 td, .table1 th{
    font-size: 10px;
}
.table1 th{
    letter-spacing: 2px;
    padding: 5px;
}
#start{
    width:80%;
    margin-top: 50px;
    margin-right: 300px;
    margin-left: 10px;
    text-align: center;
    padding: 10px;
}
#section-c form{
    margin-left: 1px;
    margin-right:250px ;
    margin: 20px 100px;
    
}	
}
