body{
    font-size: 18px;
    background-image: url(../images/teaestate2.1.jpg);
    background-size: cover;
    background-attachment: fixed;   

}
ol{
    font-weight: 400;
    display: flexbox;
}
ul{
   float: left;
   list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    padding: 14px 40px;
    border:5px solid whitesmoke;
    background-color: black;

}
h1{
    font-size: 57px;
}
.button1{ 
    border: black;
    border-radius: 27px;
    text-align: center;
    background-color:rgb(34, 105, 55);
    color: black;
    padding: 50px 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: clibri;
}
.button2{ 
    border: black;
    border-radius: 27px;
    text-align: center;
    background-color:rgb(34, 105, 55);
    color: black;
    padding: 50px 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: clibri;
}
.doublebutton{
    text-align: center;
}
#section-a, #section-b, #section-c{
    background: rgba(255, 255, 255, 0.589);
    width: 87%;
    padding: 40px;
    margin: 100px auto;

}