body{
    background-color: burlywood;
    background-size: cover;
    background-attachment: fixed;   
}
.logo img{
    float: left;
    width: 120px;
    height: auto;
}
h1{
    color: brown;
    font-size: 57px;
    text-transform: uppercase;
}
h2{
    font-size: 27px;
    text-decoration: peru;
}

ul.h{
    float: right;
    list-style-type: none;
}
ul.h li{
     display: inline-block;
}
ul.h li a{
     text-decoration: none;
     padding: 17px 27px;
     border:5px solid white;
     background-color:peru;
     
}
.mainimage{
     text-align: right;
     width: 5%;
     height: auto;
}
 #section-a, #section-b, #section-c {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: white;
    background: url(../images/img7.jpg);
    background-size: cover;
    background-attachment: fixed;  
    line-height: 30px; 
    font-size: 19px;
    text-align: start;

 }

 table{
    border-spacing: 7px;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 57%;
    
    overflow: visible;
 
    
}
th{
    letter-spacing: 2px;
    background:rgb(156, 94, 31);
    color: black;
    font-weight:400;
    padding: 20px;
}
td{
    padding: 10px;
}
.f1{
    margin: 0;
    padding: 2px;
    background-color: rgba(99, 100, 117, 0.699) ;
    text-align:left;
    
}
.social-links, .social-links li, .quick-links, .quick-links li{
    display: flex;
}
.social-links,.quick-links{  
    padding: 6px;
    width: 40px;
    height: 40px;
    
}

.social-items a{
    padding: 5px 5px;
    font-size: 30px;

}

.quick-items a{
    text-decoration: none;
    padding: 2px 20px;
    color: rgba(0, 0, 0, 0.89);
}
.f2{
    padding: 7px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
    background-color:rgb(0, 3, 44);
}

