body{
    font-size: 18px;
   

}


.logo img{
    float: left;
    width: 120px;
    height: auto;
}
h1{
    
    font-size:57px;
    text-align: justify;
    background: rgba(133, 75, 22, 0.89);
}
ol{
    font-weight: 400;
    display: flexbox;
}
ul{
   float: left;
   list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    padding: 14px 47px;
    border:5px solid whitesmoke;
    background-color: black;


    
}
#section-a{
    
    line-height: 27px;
    text-align: justify;
    
}
.table1{
    table-layout: fixed;
    border: gray;
    border-spacing: 0px;
    width: 5px;
    font-family: cursive;
    
        background-image: url(../images/design4.jpg);
        background-size: cover;
        background-attachment: fixed;
        
        
    
}
.table1 th{
    letter-spacing: 2px;
    background:rgba(0, 0, 0, 0.808);
    color: white;
    font-weight: bold;
    padding: 20px;
    
}
.table1 td{
    background-color:rgba(235, 226, 226, 0.301) ;
}
#section-a .p1{
    text-transform: uppercase;
    text-align: center;
}
#section-a .p2, #section-a .p3, #section-a .p4, #section-a .p5{
    display: flex;
    background-color: rgba(205, 134, 63, 0.733);
    text-align: justify;
}
